.score-main-div {
  margin-top: 10px;
}

.score-paper {
  width: 100%;
  height: 100%;
}

.score-header-div {
  margin-left: 10px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.score-avatar {
  width: 70% !important;
  height: 70% !important;
}

.score-title-div {
  margin-top: 10px;
  font-size: small;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}

.score-button {
  margin-bottom: 10px !important;
}

.score-grid {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

.score-grid li {
  padding: 10px 15px;
  text-align: left;
}

.score-avatar-div {
  width: 30%;
  display: flex;
  justify-content: space-between;
  margin-left: 2%;
}

.score-stack-card {
  padding-left: 1%;
  width: 70%;
  margin-right: 2% !important;
}

.score-stack {
  font-family: 'Times New Roman', Times, serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-left: 1%;
  padding-right: 1%;
  margin: 0 !important;
  height: 50px;
}

.score-span {
  font-weight: bold;
}

.score-badge {
  margin-top: 35% !important;
}

.score-main-stack {
  height: 120px;
}

.score-number-div {
  display: flex;
  justify-content: space-between;
}

.score-medal-0 {
  color: #d4af37;
}

.score-medal-1 {
  color: #808080;
}

.score-medal-2 {
  color: #8b4513;
}
