.login-div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10%;
}

.login-paper {
  width: 25%;
  padding-top: 30px;
  height: 300px;
}

.login-header-div {
  font-weight: bold;
  font-size: large;
  text-align: center;
}

.login-fields {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2%;
  height: 90%;
}

.login-option {
  display: flex;
}

.login-option-name {
  margin-left: 2%;
  font-weight: bold;
  font-size: large;
  font-family: 'Times New Roman', Times, serif;
}
